beautifulsoup4
black
coverage
dependency-injector
fastapi
flake8
isort
numpy
omegaconf
pydantic
pyparsing
pytest
PyYAML
requests
testfixtures
tomli
typing-extensions
urllib3
uvicorn
wemake-python-styleguide
tox
opencv-python
onnxruntime
Pillow
